logs
temp
cgi-bin
TODO.txt

htdocs/devel
htdocs/Zend
htdocs/json/*.json
htdocs/json/*.json.gz
htdocs/google*.html
htdocs/y_key_*.html
htdocs/*.min.js

htdocs/images/alert_oragne.gif
htdocs/images/alert_red.gif
htdocs/images/alert_yellow.gif
htdocs/images/blue-dot.png
htdocs/images/blue.png
htdocs/images/feed-icon-28x28.png
htdocs/images/green-dot.png
htdocs/images/green.png
htdocs/images/red-dot.png
htdocs/images/red.png
htdocs/images/roadclosed.png
htdocs/images/show_details.png
htdocs/images/show_map.png
htdocs/images/transparent_marker.png
htdocs/images/twitter.png
htdocs/images/yellow-dot.png
htdocs/images/yellow.png
