process_chp-config.xml
logs
temp
cgi-bin
TODO.txt

htdocs/devel
htdocs/Zend
htdocs/json/*.json
htdocs/json/*.json.gz
htdocs/google*.html
htdocs/y_key_*.html
htdocs/*.min.css
htdocs/javascript/*.min.js
