/**
 * Sactraffic.org styles
 */

body {
	margin: 0;
	min-width: 900px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: blue;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
}

h1 {
	font-size: 170%;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	margin-top: 0;
}

h1 img {
	vertical-align: middle;
}

h2 {
	font-size: 120%;
	border-bottom: 1px solid #ccc;
	margin: 5px 0 10px 0;
}

p.info {
	font-style: italic;
}

code.codeblock {
	white-space: pre;
	display: block;
	padding: 4px;
	margin: 0 40px 0 20px;
	border: 1px solid #aaa;
	background: #f3f3f3;
	font-size: 9pt;
}

#content {
	color: #333;
	font-family: arial, verdana, sans-serif;
	font-size: 10pt;
}


/**
 * @section Header
 */
#header {
	background: #f1f1f1;
	border-bottom: 1px solid #e4e4e4;
	margin-bottom: 10px;
	padding: 10px;
}

#mediainfo {
	border: 1px solid red;
	background-color: #fee;
	margin: 0px 25px 15px 25px;
	display: none;
}

#mediainfo ul {
	display: block;
	margin: 0;
	padding: 5px;
}

#mediainfo li {
	font-size: 10pt;
	list-style: none;
	margin: 5px;
	padding: 0;
}

#mediainfo span.alert {
	font-weight: bold;
	margin-right: 5px;
}
/* End Header */


/**
 * @section Left Column
 */
#leftcol {
	float: left;
	width: 450px;
	margin: 0 0 10px 10px;
	height: 650px;
	overflow: auto;


}

#incidents_above {
	border-top-left-radius: 10px;
}

#incidents_below {
	border-bottom: 1px solid #e4e4e4;
	border-bottom-left-radius: 10px;
}

.incidents {
	margin: 0;
	padding: 0;
}

.incidents > li {
	list-style: none;
	background: #f3f3f3;
	padding: 5px 7px;
	border-top: 1px solid #e4e4e4;
	line-height: 130%;
}

.incidents > li:hover {
	background: #e4e4e4;
}

.incidents .marker {
	background-image: url('/images/map_markers.png');
	float: left;
	height: 18px;
	margin: 0 4px 1px 0;
	width: 18px;
}

.incidents div.logtype {
	margin-top: 3px;
	font-weight: bold;
}

.incidents div.location {
	font-size: 9pt;
	clear: left;
}

.incidents div.logtime {
	font-size: 8pt;
	color: gray;
	font-style: italic;
}

.incidents span.dtstart {
	display: none;
}

.incidents div.geo {
	display: none;
}

.incidents .button { background-color: #165279 !important; float: right; font-size: 10px !important; margin-left: 3px; padding: 4px 7px 5px !important; top: -20px; width: 80px; }
.incidents .button:active { padding: 5px 7px 4px !important; }
.incidents .showmap.button { display: none; }

.details {
	padding-left: 20px;
	display: none;
}

.details li {
	font-size: 8pt;
	list-style: disc;
	padding-top: 5px;
}

.details .incidentdetail {
	padding-left: 1em;
}

.incidents .noincident {
	font-weight: bold;
}

.incidents .loading {
	background: #ffffff;
	border: 0;
	height: 30px;
	text-align: center;
}

.incidents .loading img {
	float: none;
	height: 19px;
	width: 220px;
}
/* End Left Column */


/**
 * @section Right Column
 */
#rightcol {
	margin: 0 10px 0 0;
	overflow: hidden;
	min-height: 650px;
}

#map {
	height: 500px;
	border: 1px solid #e4e4e4;
	border-radius: 10px;
}

div.marker .logtype {
	margin-top: 3px;
	font-weight: bold;
}

div.marker .logtime {
	margin-top: 3px;
	font-size: 8pt;
	color: gray;
	font-style: italic;
}

#map .button { background-color: #165279 !important; font-size: 11px !important; margin: 0 5px; width: 90px }

#sitenews ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	padding-right: 10px;
}

#freewayfeeds {
	background: #f3f3f3;
	margin: 10px 0;
	-webkit-border-radius: 7px;
	padding: 0 5px 5px 5px;
}

#freewayfeeds input {
	height: 12px;
	width: 110px;
	font-size: 8pt;
	border: 1px solid #165279;
}

#freewayfeeds ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
/* End Right Column */


/**
 * @section Footer
 */
#footer {
	clear: both;
	border-top: 1px solid #ccc;
	font-size: 8pt;
	color: #ccc;
	margin: 0 10px;
}

#footer span {
	float: right;
}

#footer a {
	color: gray;
}
/* End Footer */


/**
 * @section Ads
 */
.ad {
	/*border: 1px solid black;*/
	margin: 10px auto;
	display: none;
}

.leaderboard {
	width: 728px;
	height: 90px;
}

.banner {
	width: 468px;
	height: 60px;
}

.halfbanner {
	width: 234px;
	height: 60px;
}

.largerec {
	width: 336px;
	height: 280px;
}

.medrec {
	width: 300px;
	height: 250px;
}
/* End Ads */


/**
 * Smartphone overrides.
 */
@media only screen and (max-device-width: 480px) {
	body {
		width: 390px;
		min-width: 0;
	}

	code.codeblock {
		font-size: 6pt;
		overflow: auto;
		margin-left: 0;
		margin-right: 0;
	}

	#top_banner {
		background: white;
		padding: 0 5px;
		-webkit-border-radius: 5px;
	}

	div#content {
		font-size: 12pt;
		margin: 10px;
	}

	span.additional {
		display: none;
	}

	#mediainfo {
		margin: 10px;;
	}

	.incidents .showmap.button {
		display: inline;
	}

	#incidents_above {
		border-bottom: 1px solid #165279;
	}

	#incidents_below {
		border-top: 1px solid #165279;
	}

	#rightcol {
		display: none;
	}

	#leftcol {
		height: auto
	}
}
