/*
 * Lectroid theme style for the SacTraffic widget.
 */
#sactraffic_widget {
	background-color: #444;
	border-radius: 5px;
	color: #ccc;
	font-family: sans-serif;
	font-size: 10px;
	padding: 5px 0;
	-moz-border-radius: 5px;
}

#sactraffic_widget > div {
	background-color: black;
	border-radius: 5px;
	padding: 5px 4px 4px 4px;
	margin: 0 5px;
	-moz-border-radius: 5px;
}

#sactraffic_widget ul {
	background-color: black;
	border-radius: 5px;
	list-style-type: none;
	margin: 5px;
	padding: 2px 4px;
	-moz-border-radius: 5px;
}

#sactraffic_widget li {
	margin: 5px 0;
	padding: 0 !important;
}

#sactraffic_widget li.last {
	background: none;
}

#sactraffic_widget a {
	color: #FF5A00 !important;
	line-height: normal !important;
	text-decoration: none;
}
#sactraffic_widget a:hover {
	text-decoration: underline;
}

#sactraffic_widget .head {
	font-size: 14px;
	font-weight: bold;
}

#sactraffic_widget .time {
	color: #999;
	display: block;
}

#sactraffic_widget .foot {
	font-size: 12px;
	font-style: italic;
	text-align: right;
	text-transform: lowercase;
}

