# http://www.schroepl.net/projekte/mod_gzip/config.htm
<IfModule mod_gzip.c>
	mod_gzip_on			Yes

	# Static stuff...
	mod_gzip_can_negotiate		Yes
	##mod_gzip_static_suffix		.gz
	##AddEncoding			gzip .gz
	##mod_gzip_update_static		No

	# Satus...
	#mod_gzip_command_version	'/mod_gzip_status'

	# Data files...
	#mod_gzip_temp_dir		/tmp
	#mod_gzip_keep_workfiles	No

	# File sizes...
	mod_gzip_minimum_file_size	500
	mod_gzip_maximum_file_size	500000
	mod_gzip_maximum_inmem_size	60000

	# HTTP/1.1 - just easier that way :).
	mod_gzip_min_http		1001
	#mod_gzip_handle_methods	GET POST

	# Filters...
	# phase 1: (reqheader, uri, file, handler)
	mod_gzip_item_include	file	\.html$
	mod_gzip_item_include	file	\.js$
	mod_gzip_item_include	file	\.css$
	mod_gzip_item_include	file	\.cgi$
	mod_gzip_item_include	file	\.json$
	mod_gzip_item_include	file	\.php$
	mod_gzip_item_include	file	\.xml$
	mod_gzip_item_include	file	\.xsl$

	# phase 2: (mime, rspheader)
	mod_gzip_item_include	mime	^text/
	mod_gzip_item_include	mime	^application/x-javascript$
	mod_gzip_item_include	mime	^application/xml$
	mod_gzip_item_include	mime	^application/json$
	mod_gzip_item_include	mime	^httpd/unix-directory$

	mod_gzip_item_exclude	mime	^image/

	# Other...
	mod_gzip_dechunk		Yes

	# Logging
	##LogFormat			"%h %l \"%u\" %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\" mod_gzip: %{mod_gzip_result}n In:%{mod_gzip_input_size}n Out:%{mod_gzip_output_size}n Pct:%{mod_gzip_compression_ratio}n" combined_with_mod_gzip

	mod_gzip_add_header_count	Yes
</IfModule>

Redirect permanent /sa-sac.json http://www.sactraffic.org/json/STCC-STCC.json
