.button {
  background-color: #111;
  color: #fff;
  padding: 5px 10px 6px;
  font-size: 13px;

  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.2)), color-stop(0.5, rgba(150,150,150,.2)), to(rgba(0,0,0,.0)));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(150,150,150,.2), rgba(0,0,0,.0));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#30ffffff,endColorstr=#10000000) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=135,strength=2);

  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;
  text-align: center;

  -moz-user-select: none;
  -webkit-user-select: none;
}

.button:hover {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,.4)), color-stop(0.5, rgba(150,150,150,.3)), to(rgba(0,0,0,.0)));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.4), rgba(150,150,150,.3), rgba(0,0,0,.0));
}

.button:active {
  padding: 6px 10px 5px;

  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0,.2)), color-stop(0.5, rgba(150,150,150,.2)), to(rgba(255,255,255,.2)));
  background-image: -moz-linear-gradient(top, rgba(0,0,0,.2), rgba(150,150,150,.2), rgba(255,255,255,.2));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#20000000,endColorstr=#50ffffff) progid:DXImageTransform.Microsoft.Shadow(color=#000000,direction=315,strength=1);

  box-shadow: inset 0 1px 2px rgba(0,0,0,0.7);
}

.button.blue {
  background-color: #165279;
}

.button.red {
  background-color: #e00;
}

.button.trans {
  opacity: .6;
}
