/**
 * Sactraffic.org styles
 */
body {
	color: #333;
	font-family: verdana, sans-serif;
	font-size: 10pt;
	margin: 0;
	min-width: 900px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: blue;
}

img {
	border: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: black;
	font-weight: normal;
}

h1 {
	font-size: 170%;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	margin-top: 0;
}

h1 img {
	vertical-align: middle;
}

h2 {
	font-size: 120%;
	border-bottom: 1px solid #ccc;
	margin: 5px 0 10px 0;
}

code {
	background: #f6f6f6;
	border: 1px dotted #aaa;
}

/**
 * @section General class styles
 */
.codeblock {
	background: #f3f3f3;
	border: 1px solid #aaa;
	border-radius: 5px;
	font-family: monospace;
	font-size: 9pt;
	margin-left: 40px;
	padding: 5px;
	white-space: pre;
	width: 80%;
}

.info {
	font-style: italic;
}

.marker .logtype {
	margin-top: 3px;
	font-weight: bold;
}

.marker .logtime {
	margin-top: 3px;
	font-size: 8pt;
	color: gray;
	font-style: italic;
}

.marker.camera .name {
	font-weight: bold;
	margin-bottom: 10px;
}

.marker.camera .button {
	text-align: center;
	padding-bottom: 5px;
}

/**
 * @section Header
 */
#header {
	background: #f1f1f1;
	border-bottom: 1px solid #e4e4e4;
	padding: 10px;
}

#mediainfo {
	border: 1px solid red;
	background-color: #fee;
	margin: 0px 25px 15px 25px;
	display: none;
}

#mediainfo ul {
	display: block;
	margin: 0;
	padding: 5px;
}

#mediainfo li {
	font-size: 10pt;
	list-style: none;
	margin: 5px;
	padding: 0;
}

#mediainfo span.alert {
	font-weight: bold;
	margin-right: 5px;
}
/* End Header */


/**
 * @section Content
 */
#content {
	padding: 10px;
}
/* End Content */


/**
 * @section Left Column
 */
#leftcol {
	border-right: 1px solid #e4e4e4;
	float: left;
	height: 650px;
	overflow: auto;
	width: 350px;
}

#leftcol .incidents {
	margin: 0;
	padding: 0;
}

#leftcol .incidents .loading {
	background: #ffffff;
	border: 0;
	height: 30px;
	text-align: center;
}

#leftcol .incidents .loading img {
	height: 19px;
	width: 220px;
}

#leftcol .incident {
	border-bottom: 1px solid #e4e4e4;
	background: #f3f3f3;
	list-style: none;
	padding: 5px 7px;
	line-height: 130%;
}

#leftcol .incident:hover {
	background: #e4e4e4;
}

#leftcol .incident:first-child {
	border-top-left-radius: 10px;
}

#leftcol .incident:last-child {
	border-bottom: 0;
	border-bottom-left-radius: 10px;
}

#leftcol .incident .more {
	background-image: url('/images/more_sprites.png');
	background-position: -6px -3px;
	display: none;
	height: 18px;
	width: 17px;
	float: right;
}

#leftcol .incident:hover .more
{
	display: block;
}

#leftcol .incident .more.opened {
	display: block;
	background-position: -38px -3px;
}

#leftcol .incident .more:hover {
	background-position: -6px -35px;
}

#leftcol .incident .more.mousedown:hover {
	background-position: -6px -67px;
}

#leftcol .incident .more.opened:hover {
	background-position: -38px -35px;
}

#leftcol .incident .more.opened.mousedown:hover {
	background-position: -38px -67px;
}

#leftcol .incident .marker {
	background-image: url('/images/map_markers.png');
	float: left;
	height: 37px;
	margin: 3px 4px 1px 0;
	width: 32px;
}

#leftcol .incident .logtype {
	margin-top: 3px;
	font-weight: bold;
}

#leftcol .incident .location {
	font-size: 9pt;
}

#leftcol .incident .city {
	font-size: 9pt;
}

#leftcol .incident .logtime {
	font-size: 8pt;
	color: gray;
	font-style: italic;
}

#leftcol .incident .dtstart,
#leftcol .incident .geo {
	display: none;
}
/* End Left Column */


/**
 * @section Right Column
 */
#rightcol {
	/* border-top-right-radius: 10px; Maps no likey */
	border-bottom-right-radius: 10px;
	min-height: 650px;
	overflow: hidden;
	position: relative;
}

#detailbox {
	background: white;
	border-bottom: 1px solid #e4e4e4;
	border-bottom-right-radius: 10px;
	border-top: 1px solid #e4e4e4;
	border-top-right-radius: 10px;
	box-shadow: 5px 5px 5px #888;
	display: none;
	float: left;
	height: 470px;
	left: -7px; /* to make the shadow look like a drawer */
	min-width: 220px;
	overflow: auto;
	padding: 5px 5px 5px 12px;
	position: absolute;
	top: 10px;
	width: 0;
	z-index: 1;
}

#detailbox .header {
	background: #e6e6e6;
	border-top-right-radius: 10px;
	height: 25px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

#detailbox .closebox {
	height: 12px;
	width: 12px;
	border: 1px solid #ccc;
	float: right;
	margin: 5px 8px 0 0;
}

#detailbox .closebox:hover {
	background: #d0d0d0;
}

#detailbox .content {
	bottom: 40px;
	left: 12px;
	position: absolute;
	right: 0;
	top: 25px;
	overflow-y: auto;
}

#detailbox .incidentID {
	display: none;
}

#detailbox .logtype {
	font-weight: bold;
}

#detailbox .details {
	border-top: 1px solid #ddd;
	font-size: 8pt;
	height: 340px;
	list-style: none;
	padding: 0;
	margin: 10px 0 0 0;
	padding-top: 10px;
}

#detailbox .detail {
	line-height: 150%;
}

#detailbox .detailtime {
	font-weight: bold;
}

#detailbox .footer {
	border-top: 1px solid #ddd;
	bottom: 8px;
	left: 0;
	padding-top: 7px;
	position: absolute;
	right: 0;
	text-align: center;
}

#map {
	height: 500px;
	border-top: 1px solid #e4e4e4;
	border-right: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
}

#mapcontrol {
	margin: 10px;
	text-align: right;

	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

#mapcontrol .menubutton {
	background-color: #111;
	background-image: -moz-linear-gradient(top, rgba(255,255,255,.2), rgba(150,150,150,.2), rgba(0,0,0,.0));
	background-image: -ms-linear-gradient(top, rgba(255,255,255,.2), rgba(150,150,150,.2), rgba(0,0,0,.0));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,.2), rgba(150,150,150,.2), rgba(0,0,0,.0));
	border-radius: 5px;
	color: #fff;
	font-size: 32px;
	height: 30px;
	line-height: 25px;
	margin-bottom: 5px;
	margin-left: 50px;
	opacity: .6;
	text-align: center;
	width: 62px;
}

#mapcontrol .mapmenu {
	height: 0;
	opacity: .7;
	overflow: hidden;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
}

#mapcontrol:hover .mapmenu {
	height: 100px;
	opacity: .9;
}

#mapcontrol .mapmenu .button {
	display: block;
	font-size: 11px;
	font-weight: normal;
	margin-bottom: 5px;
	width: 92px;
}

#sitenews ul {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	padding-right: 10px;
}

#freewayfeeds {
	border-bottom-right-radius: 10px;
	background: #f3f3f3;
	height: 141px;
	padding: 2px 10px 5px 10px;
}

#freewayfeeds input {
	height: 12px;
	width: 110px;
	font-size: 8pt;
	border: 1px solid #165279;
}

#freewayfeeds ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
/* End Right Column */


/**
 * @section Footer
 */
#footer {
	clear: both;
	border-top: 1px solid #ccc;
	font-size: 8pt;
	color: #ccc;
	margin: 0 10px 20px;
}

#footer span {
	float: right;
}

#footer a {
	color: gray;
}
/* End Footer */


/**
 * @section Other
 */
#video_canvas {
	margin: 0 auto;
}


/**
 * @section Ads
 */
.ad {
	margin: 10px auto;
}

.leaderboard {
	width: 728px;
	height: 90px;
}

.banner {
	width: 468px;
	height: 60px;
}

.halfbanner {
	width: 234px;
	height: 60px;
}

.largerec {
	width: 336px;
	height: 280px;
}

.medrec {
	width: 300px;
	height: 250px;
}
/* End Ads */


/**
 * Smartphone overrides.
 */
@media only screen and (max-device-width: 480px) {
	body {
		width: 420px;
		min-width: 0;
	}

	#leftcol {
		border-right: 0;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		height: auto
	}

	#leftcol .incident:last-child {
		border-bottom-right-radius: 10px;
	}

	.codeblock {
		font-size: 5pt;
		overflow: hidden;
		margin-left: 0;
		width: inherit;
	}

	#mediainfo {
		margin: 10px;;
	}

	#rightcol {
		display: none;
	}
}
