/**
 * @fileinfo Mobile styles.
 */

/**
 * @section Tablets in portrait mode
 */
@media only screen and (min-device-width: 601px) and (max-device-width: 800px) and (orientation: portrait) {
  #header .title {
    font-size: 150%;
    margin: 17px 10px;
  }

  #header .title .extended {
    display: none;
  }

  #header .menu li {
    width: 100px;
  }
}

/**
 * @section Phones (basically, no map)
 */
@media only screen and (max-device-width: 600px) {
   #header {
    background: #598ffd;
    color: white;
  }

  #header .title {
    font-size: 120%;
    margin: 17px 10px;
  }

  #header .title .extended {
    display: none;
  }

  #header .menu li {
    border-left: 1px solid #eee;
    width: 60px;
  }

  #header .menu li a,
  #header .menu li a:visited {
    color: #eee;
  }

  #content {
    top: 20px;
  }

  #incident_container {
    box-shadow: none;
    display: block;
    height: 100%;
    margin: 0;
  }

  #incident_container .header {
    display: none;
  }

  #incident_container .incident:hover {
    background: inherit;
  }

  #incident_container .footer {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .33);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #map, #mapcontrol {
    display: none;
  }
}
