/**
 * @fileinfo Mobile styles.
 */

/**
 * @section Tablets (medium sized things)
 */
@media only screen and (min-device-width: 601px) and (max-device-width: 800px) {
  #header .title {
    font-size: 150%;
    margin: 15px 10px;
  }

  #header .title .extended {
    display: none;
  }

  #header .menu li {
    width: 100px;
  }
}

/**
 * @section Phones (things too small for a map)
 */
@media only screen and (max-device-width: 600px) {
  #header {
    background: #eee;
  }

  #header .title {
    font-size: 135%;
    margin: 16px 10px;
  }

  #header .title .extended {
    display: none;
  }

  #header .menu li {
    border-left: 1px solid #ccc;
    width: 60px;
  }

  #content {
    top: 20px;
  }

  #incident_container {
    box-shadow: none;
    display: block;
    height: 100%;
    margin: 0;
  }

  #incident_container .header {
    display: none;
  }

  #incident_container .incident:hover {
    background: inherit;
  }

  #incident_container .footer {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .33);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #map, #mapcontrol {
    display: none;
  }
}
