/**
 * @fileinfo Mobile styles.
 */

/**
 * @section medium wide
 */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) {
  #header .title {
    font-size: 150%;
    margin: 17px 10px;
  }
}

/**
 * Phones
 */
@media only screen and (max-device-width: 480px) {
   #header {
    background: #598ffd;
    color: white;
  }

  #header .title {
    font-size: 110%;
    margin: 10px;
    width: 230px;
  }

  #header .menu li {
    border-left: 1px solid #eee;
    width: 60px;
  }

  #header .menu li a,
  #header .menu li a:visited {
    color: #eee;
  }

  #content {
    top: 25px;
  }

  #incident_container {
    box-shadow: none;
    display: block;
    height: 100%;
    margin: 0;
  }

  #incident_container .header {
    display: none;
  }

  #incident_container .footer {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .33);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  #map, #mapcontrol {
    display: none;
  }
}
